body {
	background-image: url("../images/natural_paper.png");
	margin-left: 10%;
	margin-right: 10%;
}

h1 {
	background-image: url("../images/shattered.png");
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: center;
	font-family: 'Roboto Slab', serif;
	color: #362187;

}

#description {
	font-family: 'Droid Serif', serif;
	background-image: url("../images/wormz.png");
	margin-bottom: 10px;
	word-wrap: break-word;
}

#winslosebox {
	text-align: justify;
	color: #062351;
}
img {
	width: 125px;
	height: 90px;
}

#image-row {
	margin-bottom: 10px;
}

.img-thumbnail {
	background-image: url("../images/natural_paper.png");
}